.container {
    background: rgba(242, 242, 242, 0.1);
    width: 100%;
    aspect-ratio: 1.6;

    border: 1px dashed #F2F2F2;
    border-radius: 0px 64px;

    display: grid;
    place-items: center;
    cursor: pointer;

    position: relative;
    overflow: hidden;
}

.contentWrapper {
    display: flex;
    align-items: center;
    gap: 1em;
}

.contentWrapper span {
    font-weight: 600;
    font-size: 1.25rem;
    color: #14597A;
}

.bannerImage {
    position: absolute;
    inset: 0;
}